In [1]:
import pandas as pd

In [2]:
filename = "Demandeurs d’emploi inscrits en fin de mois à Pôle emploi par Tranche d'âge - Région _ La Réunion - .csv"
data = pd.read_csv(filename,skiprows=3,sep=";",skipfooter=1,engine='python')
data.tail()

               Mois Moins de 25 ans De 25 à 49 ans 50 ans ou plus     Total
319       Août 2022          24 990        100 690         51 460   177 140
320  Septembre 2022          25 260        100 440         51 290   176 990
321    Octobre 2022          25 190         99 880         51 210   176 270
322   Novembre 2022          25 150         99 860         51 210   176 220
323   Décembre 2022          24 240         98 720         51 110   174 070

In [3]:
data[["Mois"]] = pd.DataFrame(pd.date_range(start="1-1996",end="1-2023",freq="M",name= "Mois").strftime("%m/%Y"))

In [4]:
data.to_csv("demandeurs d'emploi par age.csv",index=False)