In [11]:
import pandas as pd

In [12]:
filename = "Demandeurs d’emploi inscrits en fin de mois à Pôle emploi par Tranche d'âge - Région _ La Réunion - .csv"
data = pd.read_csv(filename,skiprows=3,sep=";",skipfooter=1,engine='python')
data[["Mois"]] = pd.DataFrame(pd.date_range(start="01-1996",end="01-2023",freq="M",name= "Mois").strftime("%d/%m/%Y"))
data.head(10)

         Mois Moins de 25 ans De 25 à 49 ans 50 ans ou plus     Total
0  31/01/1996          24 590         71 290          6 260   102 140
1  29/02/1996          25 000         72 300          6 380   103 670
2  31/03/1996          24 950         72 550          6 370   103 870
3  30/04/1996          24 790         73 010          6 460   104 250
4  31/05/1996          24 560         72 970          6 410   103 940
5  30/06/1996          24 400         72 890          6 450   103 740
6  31/07/1996          25 210         73 620          6 530   105 350
7  31/08/1996          26 110         74 370          6 600   107 080
8  30/09/1996          26 730         74 250          6 670   107 640
9  31/10/1996          26 830         75 050          6 810   108 690

In [13]:
data.to_csv("data_par_age.csv",index=False)